<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/images/favicon (1).ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style1.css">

    <title>Живлення</title>
</head>
<body>
<div class="full">
    <div class="header">
        <nav>
            <ul>
                <li><a href="/">Головна</a></li>
                <li><a href="/sw_off_page">Вимкнені комутатори</a></li>
                <li><a href="/all">Всі подіЇ</a></li>
                <li><a href="/power">Живлення</a></li>
                <li><a href="/login">Адмін</a></li>
            </ul>
        </nav>
    </div>
    <font size="3" face="Courier New">    
        <table class="vn">
          
           <tr align="left">
            <th><a href="telnet://172.30.0.11">SW-1-1</a></th>      
            <th><a class="nc"href="http://172.30.0.101/"target="_blank">NC-1-1</a></th>
            <th><a href="./Ring/VN/Ring_1_1.html"target="_blank">(NO BO+INV) Порика 14, 2п.</a></th>
      
            <th> </th>    
            <th><a href="telnet://172.30.96.2">SW-2301-1</a></th>
            <th><a class="nc"href="http://172.30.96.17/"target="_blank">NC-2301-1</a></th>
            <th><a href="./Ring/KH/Ring_2301_1.html"target="_blank">просп. Мира 42, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.0.12">SW-1-2</a></th>
            <th><a class="nc"href="http://172.30.0.102/"target="_blank">NC-1-2</a></th>
            <th><a href="./Ring/VN/Ring_1_2.html"target="_blank">(2L+2B) Космонавтов 39, 2п</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.96.3">SW-2301-2</a></th>
            <th><a class="nc"href="http://172.30.96.18/"target="_blank">NC-2301-2</a></th>
            <th><a href="./Ring/KH/Ring_2301_2.html"target="_blank">(RG11) Бандеры 24, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.0.13">SW-1-3</a></th>
            <th><a class="nc"href="http://172.30.0.103/"target="_blank">NC-1-3</a></th>
            <th><a href="./Ring/VN/Ring_1_3.html"target="_blank">(2LC+2B) Стахурского 2б, 1п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.96.4">SW-2301-3</a></th>
            <th><a class="nc"href="http://172.30.96.19/"target="_blank">NC-2301-3</a></th>
            <th><a href="./Ring/KH/Ring_2301_3.html"target="_blank">(RG11) просп. Мира 60/2, 2п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.0.14">SW-1-4</a></th>
            <th><a class="nc"href="http://172.30.0.104/"target="_blank">NC-1-4</a></th>
            <th><a href="./Ring/VN/Ring_1_4.html"target="_blank">(RG11+INV) Порика В. 16, 2 п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.96.5">SW-2301-4</a></th>
            <th><a class="nc"href="http://172.30.96.20/"target="_blank">NC-2301-4</a></th>
            <th><a href="./Ring/KH/Ring_2301_4.html"target="_blank">(INV) Заречанская 40, 1п.</a></th><th></th>      
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.0.15">SW-1-5</a></th>
            <th><a class="nc"href="http://172.30.0.105/"target="_blank">NC-1-5</a></th>
            <th><a href="./Ring/VN/Ring_1_5.html"target="_blank">(INV) Юности проспект 35, 1 п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.96.6">SW-2301-5</a></th>
            <th><a class="nc"href="http://172.30.96.21/"target="_blank">NC-2301-5</a></th>
            <th><a href="./Ring/KH/Ring_2301_5.html"target="_blank">(INV) Бандеры 9, 2п.</a></th><th></th>      
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.0.16">SW-1-6</a></th>
            <th><a class="nc"href="http://172.30.0.106/"target="_blank">NC-1-6</a></th>
            <th><a href="./Ring/VN/Ring_1_6.html"target="_blank">(2L+2B) Келецкая 59, 6 п.</th>
      
            <th> </th>
            <th><a href="telnet://172.30.96.7">SW-2301-6</a></th>
            <th><a class="nc"href="http://172.30.100.17/" target="_blank" ></a></th>
            <th><a href="./Ring/KH/Ring_2301_6.html"target="_blank">просп. Мира 69 (ГС)</a></th><th></th>      
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.1.11">SW-2-1</a></th>
            <th><a class="nc"href="http://172.30.1.101/"target="_blank">NC-2-1</a></th>
            <th><a href="./Ring/VN/Ring_2_1.html"target="_blank">(2L+INV) Стельмаха 43а, 1п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.100.2">SW-2302-1</a></th>
            <th><a class="nc"href="http://172.30.100.17/"target="_blank">NC-2302-1</a></th>
            <th><a href="./Ring/KH/Ring_2302_1.html"target="_blank">(INV) Свободы 18/1, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.1.12">SW-2-2</a></th>
            <th><a class="nc"href="http://172.30.1.102/"target="_blank">NC-2-2</a></th>
            <th><a href="./Ring/VN/Ring_2_2.html"target="_blank">(2L+INV) Квятека 14, 4п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.100.3">SW-2302-2</a></th>
            <th><a class="nc"href="http://172.30.100.18/"target="_blank">NC-2302-2</a></th>
            <th><a href="./Ring/KH/Ring_2302_2.html"target="_blank">(INV) Победы 11, 2п.</a></th><th></th>  
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.1.13">SW-2-3</a></th>
            <th><a class="nc"href="http://172.30.1.104/"target="_blank">NC-2-3</a></th>
            <th><a href="./Ring/VN/Ring_2_3.html"target="_blank">(2L+2B) Келецкая 106, 4п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.100.4">SW-2302-3</a></th>
            <th><a class="nc"href="http://172.30.100.19/"target="_blank">NC-2302-3</a></th>
            <th><a href="./Ring/KH/Ring_2302_3.html"target="_blank">(RG11) просп. Мира 64, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.1.14">SW-2-4</a></th>
            <th><a class="nc"href="http://172.30.1.104/"target="_blank">NC-2-4</a></th>
            <th><a href="./Ring/VN/Ring_2_4.html"target="_blank">(2L+2B) Келецкая 111, 6 п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.100.5">SW-2302-4</a></th>
            <th><a class="nc"href="http://172.30.100.20/"target="_blank">NC-2302-4</a></th>
            <th><a href="./Ring/KH/Ring_2302_4.html"target="_blank">просп. Мира 61/4, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.1.15">SW-2-5</a></th>
            <th><a class="nc"href="http://172.30.1.105/"target="_blank">NC-2-5</a></th>
            <th><a href="./Ring/VN/Ring_2_5.html"target="_blank">(2L+INV) Келецкая 86, 2п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.100.6">SW-2302-5</a></th>
            <th><a class="nc"href="http://172.30.100.21/"target="_blank">NC-2302-5</a></th>
            <th><a href="./Ring/KH/Ring_2302_5.html"target="_blank">(INV) П. Мирного 5, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.1.16">SW-2-6</a></th>
            <th><a class="nc"href="http://172.30.1.106/"target="_blank">NC-2-6</a></th>
            <th><a href="./Ring/VN/Ring_2_6.html"target="_blank">(2L+INV) Келецкая 81, 2п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.100.7">SW-2302-6</a></th>
            <th><a class="nc"href="http://172.30.100.22/"target="_blank">NC-2302-6</a></th>
            <th><a href="./Ring/KH/Ring_2302_6.html"target="_blank">(RG11) Свободы 8Б, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.2.11">SW-3-1</a></th>
            <th><a class="nc"href="http://172.30.2.101/"target="_blank">NC-3-1</a></th>
            <th><a href="./Ring/VN/Ring_3_1.html"target="_blank">(2L+2B) Ратушной 28, 3п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.106.2">SW-2303-1</a></th>
            <th><a class="nc"href="http://172.30.106.17/"target="_blank">NC-2303-1</a></th>
            <th><a href="./Ring/KH/Ring_2303_1.html"target="_blank">(INV) Свободы 7б, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.2.12">SW-3-2</a></th>
            <th><a class="nc"href="http://172.30.2.102/"target="_blank">NC-3-2</a></th>
            <th><a href="./Ring/VN/Ring_3_2.html"target="_blank">(2LC+2B) Константиновича 42а, 1п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.106.3">SW-2303-2</a></th>
            <th><a class="nc"href="http://172.30.106.18/"target="_blank">NC-2303-2</a></th>
            <th><a href="./Ring/KH/Ring_2303_2.html"target="_blank">просп. Мира 80/5, 2п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.2.13">SW-3-3</a></th>
            <th><a class="nc"href="http://172.30.2.103/"target="_blank">NC-3-3</a></th>
            <th><a href="./Ring/VN/Ring_3_3.html"target="_blank">(2L+INV) Шевченка 29, 4п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.106.4">SW-2303-3</a></th>
            <th><a class="nc"href="http://172.30.106.19/"target="_blank">NC-2303-3</a></th>
            <th><a href="./Ring/KH/Ring_2303_3.html"target="_blank">(INV) просп. Мира 84/2а, 2п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.2.14">SW-3-4</a></th>
            <th><a class="nc"href="http://172.30.2.104/"target="_blank">NC-3-4</a></th>
            <th><a href="./Ring/VN/Ring_3_4.html"target="_blank">(2L+INV) Ленских событий 46, 1п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.106.5">SW-2303-4</a></th>
            <th><a class="nc"href="http://172.30.106.20/"target="_blank">NC-2303-4</a></th>
            <th><a href="./Ring/KH/Ring_2303_4.html"target="_blank">(RG11) Староконст. ш. 7/б, 2п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.2.15">SW-3-5</a></th>
            <th><a class="nc"href="http://172.30.2.105/"target="_blank">NC-3-5</a></th>
            <th><a href="./Ring/VN/Ring_3_5.html"target="_blank">(2L+2B) Заболотного 11, 1п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.106.6">SW-2303-5</a></th>
            <th><a class="nc"href="http://172.30.106.21/"target="_blank">NC-2303-5</a></th>
            <th><a href="./Ring/KH/Ring_2303_5.html"target="_blank">(INV) Староконст. ш. 14/1, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.2.16">SW-3-6</a></th>
            <th><a class="nc"href="http://172.30.2.106/"target="_blank">NC-3-6</a></th>
            <th><a href="./Ring/VN/Ring_3_6.html"target="_blank">(2L+2B) Дачная 7, 3п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.106.7">SW-2303-6</a></th>
            <th><a class="nc"href="http://172.30.106.22/"target="_blank">NC-2303-6</a></th>
            <th><a href="./Ring/KH/Ring_2303_6.html"target="_blank">Заречанская 12а, 3п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.3.11">SW-4-1</a></th>
            <th><a class="nc"href="http://172.30.3.101/"target="_blank">NC-4-1</a></th>
            <th><a href="./Ring/VN/Ring_4_1.html"target="_blank">(2L+INV) Литвиненко 32, 5 п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.120.2">SW-2304-1</a></th>
            <th><a class="nc"href="http://172.30.120.17/"target="_blank">NC-2304-1</a></th>
            <th><a href="./Ring/KH/Ring_2304_1.html"target="_blank">П. Мирного 31, 4п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.3.12">SW-4-2</a></th>
            <th><a class="nc"href="http://172.30.3.102/"target="_blank">NC-4-2</a></th>
            <th><a href="./Ring/VN/Ring_4_2.html"target="_blank">(2L+INV) Свердлова 168, 1 п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.120.3">SW-2304-2</a></th>
            <th><a class="nc"href="http://172.30.120.18/"target="_blank">NC-2304-2</a></th>
            <th><a href="./Ring/KH/Ring_2304_2.html"target="_blank">(INV+RG11) Зализняка 18, 5п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.3.13">SW-4-3</a></th>
            <th><a class="nc"href="http://172.30.3.103/"target="_blank">NC-4-3</a></th>
            <th><a href="./Ring/VN/Ring_4_3.html"target="_blank">(NO BO+2B) Скалецкого 35, 2 п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.120.4">SW-2304-3</a></th>
            <th><a class="nc"href="http://172.30.120.19/"target="_blank">NC-2304-3</a></th>
            <th><a href="./Ring/KH/Ring_2304_3.html"target="_blank">(RG11) П. Мирного 32/3. 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.3.14">SW-4-4</a></th>
            <th><a class="nc"href="http://172.30.3.104/"target="_blank">NC-4-4</a></th>
            <th><a href="./Ring/VN/Ring_4_4.html"target="_blank">(2L+2B) А. Ющенка 16, 1 п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.120.5">SW-2304-4</a></th>
            <th><a class="nc"href="http://172.30.120.20/"target="_blank">NC-2304-4</a></th>
            <th><a href="./Ring/KH/Ring_2304_4.html"target="_blank">Кармелюка 10, 3п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.3.15">SW-4-5</a></th>
            <th><a class="nc"href="http://172.30.3.105/"target="_blank">NC-4-5</a></th>
            <th><a href="./Ring/VN/Ring_4_5.html"target="_blank">(2L+2B) Пирогова 99а, 1 п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.120.6">SW-2304-5</a></th>
            <th><a class="nc"href="http://172.30.120.21/"target="_blank">NC-2304-5</a></th>
            <th><a href="./Ring/KH/Ring_2304_5.html"target="_blank">(RG11) Лесогринивецкая 24/3, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.3.16">SW-4-6</a></th>
            <th><a class="nc"href="http://172.30.3.106/"target="_blank">NC-4-6</a></th>
            <th><a href="./Ring/VN/Ring_4_6.html"target="_blank">(2L+INV) Пирогова 115а, 3п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.120.7">SW-2304-6</a></th>
            <th><a class="nc"href="http://172.30.120.22/"target="_blank">NC-2304-6</a></th>
            <th><a href="./Ring/KH/Ring_2304_6.html"target="_blank">(RG11) Кармелюка 3/1, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.4.11">SW-5-1</a></th>
            <th><a class="nc"href="http://172.30.4.101/"target="_blank">NC-5-1</a></th>
            <th><a href="./Ring/VN/Ring_5_1.html"target="_blank">(2L+INV) Фрунзе 75, 1п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.128.2">SW-2305-1</a></th>
            <th><a class="nc"href="http://172.30.128.17/"target="_blank">NC-2305-1</a></th>
            <th><a href="./Ring/KH/Ring_2305_1.html"target="_blank">(RG11) Подольская 9/1, 2п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.4.12">SW-5-2</a></th>
            <th><a class="nc"href="http://172.30.4.102/"target="_blank">NC-5-2</a></th>
            <th><a href="./Ring/VN/Ring_5_2.html"target="_blank">(NO BO+2B) 1 Мая 78, 1п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.128.3">SW-2305-2</a></th>
            <th><a class="nc"href="http://172.30.128.18/"target="_blank">NC-2305-2</a></th>
            <th><a href="./Ring/KH/Ring_2305_2.html"target="_blank">(RG11+INV) Вайсера 79, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.4.13">SW-5-3</a></th>
            <th><a class="nc"href="http://172.30.4.103/"target="_blank">NC-5-3</a></th>
            <th><a href="./Ring/VN/Ring_5_3.html"target="_blank">(2LC+2B) Пирогова 3а, 2п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.128.4">SW-2305-3</a></th>
            <th><a class="nc"href="http://172.30.128.19/"target="_blank">NC-2305-3</a></th>
            <th><a href="./Ring/KH/Ring_2305_3.html"target="_blank">(INV) Водопроводная 16, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.4.14">SW-5-4</a></th>
            <th><a class="nc"href="http://172.30.4.104/"target="_blank">NC-5-4</a></th>
            <th><a href="./Ring/VN/Ring_5_4.html"target="_blank">(2L+2B) Толстого 13, 1 п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.128.5">SW-2305-4</a></th>
            <th><a class="nc"href="http://172.30.128.20/"target="_blank">NC-2305-4</a></th>
            <th><a href="./Ring/KH/Ring_2305_4.html"target="_blank">(L2) Водопроводная 57, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.5.11">SW-6-1</a></th>
            <th><a class="nc"href="http://172.30.5.101/"target="_blank">NC-6-1</a></th>
            <th><a href="./Ring/VN/Ring_6_1.html"target="_blank">(NO BO+2B) Острожского 59, 2п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.128.6">SW-2305-5</a></th>
            <th><a class="nc"href="http://172.30.128.21/"target="_blank">NC-2305-5</a></th>
            <th><a href="./Ring/KH/Ring_2305_5.html"target="_blank">Прибужская 34/1, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.5.12">SW-6-2</a></th>
            <th><a class="nc"href="http://172.30.5.102/"target="_blank">NC-6-2</a></th>
            <th><a href="./Ring/VN/Ring_6_2.html"target="_blank">(2LC+2B) Винниченка 2, 1п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.136.3">SW-2306-2</a></th>
            <th><a class="nc"href="http://172.30.136.18/"target="_blank">NC-2306-2</a></th>
            <th><a href="./Ring/KH/Ring_2306_2.html"target="_blank">(INV) Курчатова 1Д, 5п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.5.13">SW-6-3</a></th>
            <th><a class="nc"href="http://172.30.5.103/"target="_blank">NC-6-3</a></th>
            <th><a href="./Ring/VN/Ring_6_3.html"target="_blank">(2LC+2B) Фрунзе 20, 1п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.136.4">SW-2306-3</a></th>
            <th><a class="nc"href="http://172.30.136.19/"target="_blank">NC-2306-3</a></th>
            <th><a href="./Ring/KH/Ring_2306_3.html"target="_blank">(RG11+INV) Чкалова 13/1, 5п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.5.14">SW-6-4</a></th>
            <th><a class="nc"href="http://172.30.5.104/"target="_blank">NC-6-4</a></th>
            <th><a href="./Ring/VN/Ring_6_4.html"target="_blank">(2LC+2B) Запорожца 21, 1п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.136.5">SW-2306-4</a></th>
            <th><a class="nc"href="http://172.30.136.20/"target="_blank">NC-2306-4</a></th>
            <th><a href="./Ring/KH/Ring_2306_4.html"target="_blank">(RG11+INV) Курчатова 4, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.5.15">SW-6-5</a></th>
            <th><a class="nc"href="http://172.30.5.105/"target="_blank">NC-6-5</a></th>
            <th><a href="./Ring/VN/Ring_6_5.html"target="_blank">(2LC+2B) 50 лет Победы 31, 2 п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.136.8">SW-2306-7</a></th>
            <th><a class="nc"href="http://172.30.136.23/"target="_blank">NC-2306-7</a></th>
            <th><a href="./Ring/KH/Ring_2306_7.html"target="_blank">Проскуровского Подполья 127/1, 1п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.5.16">SW-6-6</a></th>
            <th><a class="nc"href="http://172.30.5.106/"target="_blank">NC-6-6</a></th>
            <th><a href="./Ring/VN/Ring_6_6.html"target="_blank">(2LC+2B) Верхарная 70, 4п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.144.2">SW-2307-1</a></th>
            <th><a class="nc"href="http://172.30.144.17/"target="_blank">NC-2307-1</a></th>
            <th><a href="./Ring/KH/Ring_2307_1.html"target="_blank">(INV) Львовское шоссе 16, 5п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.6.11">SW-7-1</a></th>
            <th><a class="nc"href="http://172.30.6.101/"target="_blank">NC-7-1</a></th>
            <th><a href="./Ring/VN/Ring_7_1.html"target="_blank">(2LC+2B) Киевская 50, 1п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.144.3">SW-2307-2</a></th>
            <th><a class="nc"href="http://172.30.144.18/"target="_blank">NC-2307-2</a></th>
            <th><a href="./Ring/KH/Ring_2307_2.html"target="_blank">Тернопольская, 38</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.6.12"  >SW-7-2</a></th>
            <th><a class="nc"href="http://172.30.6.102/"target="_blank">NC-7-2</a></th>
            <th><a href="./Ring/VN/Ring_7_2.html"target="_blank">(2LC+2B) Чайковского 15, 1 п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.144.4">SW-2307-3</a></th>
            <th><a class="nc"href="http://172.30.144.19/"target="_blank">NC-2307-3</a></th>
            <th><a href="./Ring/KH/Ring_2307_3.html"target="_blank">Тернопольская 22/1, 4п.</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.6.13">SW-7-3</a></th>
            <th><a class="nc"href="http://172.30.6.103/"target="_blank">NC-7-3</a></th>
            <th><a href="./Ring/VN/Ring_7_3.html"target="_blank">(2L+INV) Станиславского 24, 1п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.144.5">SW-2307-4</a></th>
            <th><a class="nc"href="http://172.30.144.20/"target="_blank">NC-2307-4</a></th>
            <th><a href="./Ring/KH/Ring_2307_4.html"target="_blank">(INV) Институтская 22, 1п.</a></th><th></th>
          </tr>
          
           <tr align="left">
            <th><a href="telnet://172.30.6.14">SW-7-4</a></th>
            <th><a class="nc"href="http://172.30.6.104/"target="_blank">NC-7-4</a></th>
            <th><a href="./Ring/VN/Ring_7_4.html"target="_blank">(2L+INV) Киевская 162а, 1п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.144.6">SW-2307-5</a></th>
            <th><a class="nc"href="http://172.30.144.21/"target="_blank">NC-2307-5</a></th>
            <th><a href="./Ring/KH/Ring_2307_5.html"target="_blank">(RG11+INV) Хотовицкого 9, п.1</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.7.11">SW-8-1</a></th>
            <th><a class="nc"href="http://172.30.7.101/"target="_blank">NC-8-1</a></th>
            <th><a href="./Ring/VN/Ring_8_1.html"target="_blank">(2L+INV) Тычыны П. 13, 3 п.</a></th>
      
            <th> </th>
            <th><a href="telnet://172.30.144.7">SW-2307-6</a></th>
            <th><a class="nc"href="http://172.30.144.22/"target="_blank">NC-2307-6</a></th>
            <th><a href="./Ring/KH/Ring_2307_6.html"target="_blank">(INV) Институтская 8/1, п.2</a></th><th></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.7.12">SW-8-2</a></th>
            <th><a class="nc"href="http://172.30.7.102/"target="_blank">NC-8-2</a></th>
            <th><a href="./Ring/VN/Ring_8_2.html"target="_blank">(2L+2B) Карла Маркса 14, 2 п.</a></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.7.13">SW-8-3</a></th>
            <th><a class="nc"href="http://172.30.7.103/"target="_blank">NC-8-3</a></th>
            <th><a href="./Ring/VN/Ring_8_3.html"target="_blank">(2L+INV) пер. К. Маркса 48, 3п.</a></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.7.14" target="_blank">SW-8-4</a></th>
            <th><a class="nc"href="http://172.30.7.104/"target="_blank">NC-8-4</a></th>
            <th><a href="./Ring/VN/Ring_8_4.html"target="_blank">(2L+2B) Москаленко 65, 3 п.</a></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.7.15">SW-8-5</a></th>
            <th><a class="nc"href="http://172.30.7.105/"target="_blank">NC-8-5</a></th>
            <th><a href="./Ring/VN/Ring_8_5.html"target="_blank">(2L+2B) Ватутина 28, 2п.</a></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.8.11">SW-9-1</a></th>
            <th><a class="nc"href="http://172.30.8.101/"target="_blank">NC-9-1</a></th>
            <th><a href="./Ring/VN/Ring_9_1.html"target="_blank">(2LC+2B) Зодчих 3, 1 п.</a></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.8.12">SW-9-2</a></th>
            <th><a class="nc"href="http://172.30.8.102/"target="_blank">NC-9-2</a></th>
            <th><a href="./Ring/VN/Ring_9_2.html"target="_blank">(2LC+2B) Бортняка А. 2, 3 п.</a></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.9.11">SW-10-1</a></th>
            <th><a class="nc"href="http://172.30.9.101/"target="_blank">NC-10-1</a></th>
            <th><a href="./Ring/VN/Ring_10_1.html"target="_blank">(2L+2B) Николаевcкая 3, 1 п.</a></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.9.12">SW-10-2</a></th>
            <th><a class="nc"href="http://172.30.9.102/"target="_blank">NC-10-2</a></th>
            <th><a href="./Ring/VN/Ring_10_2.html"target="_blank">(2L+2B) Николаевcкая 23, 3 п.</a></th>
          </tr>
      
           <tr align="left">
            <th><a href="telnet://172.30.10.11">SW-11-1</a></th>
            <th><a class="nc"href="http://172.30.10.101/"target="_blank">NC-11-1</a></th>
            <th><a href="./Ring/VN/Ring_11_1.html"target="_blank">(2L+INV) Д.Нечая 77а, 3 п.</a></th>
          </tr>
      
           <tr align="left">
            <th>shs-1g</th>
            <th></th>
            <th>Бевза 34 (Генератор)</th>
          </tr>
      
           <tr align="left">
            <th>shs-2g</th>
            <th></th>
            <th>Скалецкого 72 (Генератор)</th>
          </tr>
           <tr align="left">
            <th>shs-2-in-1</th>
            <th></th>
            <th>Скалецкого 72 ввод N1</th>
          </tr>
           <tr align="left">
            <th>shs-2-in-2</th>
            <th></th>
            <th>Скалецкого 72 ввод N2</th>
          </tr>
          </table>
</div>
</body>
</html>